*{
    padding: 0;
    margin: 0;
}
html,body{
    font: 14px/1.5 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    display: none;
}
.top{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(51,51,51);
    z-index: 300;
}
.container{
    width: 1226px;
    margin: auto;
}
.menu{
    position: relative;
    font-size: 0;
    float: left;
    height: 40px;
}
.menu a{
    display: inline-block;
    height: 40px;
    color: rgb(176,176,176);
    line-height: 40px;
    font-size: 12px;
    text-decoration: none;
    padding: 0 2px;
}
.menu a:hover{
    color: #ffff;
}
.menu span{
    font-size: 12px;
    margin: 0.3em;
    height: 40px;
    line-height: 40px;
    color: rgb(66,66,63);
    font-family: sans-serif;
}
.qr{
    position: absolute;
    transition: .3s;
    left: 510px;
    width: 124px;
    height: 0;
    background-color: #ffffff;
    box-shadow: 0 0 5px grey;
    box-sizing: border-box;
    text-align: center;
    z-index: 999999;
}
.qr>em>img{
    display: block;
    width: 90px;
    height: 0px;
    line-height: 150px;
    transition: .3s;
    margin: 0 auto;
}
.menu>a:nth-child(21):hover+nav{
    height: 150px;
}
.qr:hover{
    height: 150px;
    
}
.qr:hover>em>img{
    height: 90px;
}
.qr:hover>em{
    font-size:14px;
    position: relative;
    top: 20px;   
}
.menu>a:nth-child(21):hover+nav>em>img{
    height: 90px; 
    position: relative;
}
.menu>a:nth-child(21):hover+nav>em{
    font-size: 14px;
    color: #333; 
    position: relative;
    top: 20px;   
}
.menu>nav>em:hover{
    font-size: 14px;
    color: #333;  
}
#shop-car{
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: rgb(66,66,66);
    float: right;
    line-height: 40px;
    vertical-align:-4px;
    text-align: center;
    margin-left: 15px;
}
.shop-car-link{
    position: relative;
    display: block;
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: rgb(176,176,176);
    font-size: 14px;
}
.shop-car-link:hover{
    color: rgb(255,103,0);
    box-shadow: 0 0 5px grey;
    background-color: #ffffff;
}
.shop-car-link span:first-child{
    margin-right: 4px;
}
.tip{
    position: absolute;
    font-size: 0;
    transition: .5s;
}
.qr em{
    font-size: 0;
}
.shop-car-link:hover>.tip>em{
    font-size: 12px;
}
.shop-car-link:hover>.tip{
    width: 317px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    position: absolute;
    top: 40px;
    left: -197px;
    background-color: #fff;
    z-index: 10;
}
.info{
    position: relative;
    float: right;
    height: 40px;
    color: rgb(66,66,66);
}
.info a{
    display: inline-block;
    color: rgb(176,176,176);
    text-decoration: none;
    line-height: 40px;
    padding: 0 5px;
    font-size: 12px;
}
.info a:hover{
    color: rgb(255,255,255);
}
.header-site{
    height: 100px;
    width: 100%;
    position: relative;
}
.header-logo{
    position: relative;
    width: 55px;
    height: 55px;
    background-color: rgb(255,103,0);
    margin-top: 22px;
    float: left;
    text-indent: -99em;
    overflow: hidden;
}
.header-logo>a::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 55px;
    height: 55px;
    background: url(https://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50% ;
    transition: .5s;
}
.header-logo>a:hover::before{
    left: 55px;
}
.header-logo>a::after{
    content: "";
    position: absolute;
    top: 0;
    left: -55px;
    width: 55px;
    height: 55px;
    background:url(https://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50% ;
    transition: .5s;
}
.header-logo>a:hover::after{
    left: 0;
}
.header-nav{
    width: 850px;
    height: 100px;
    float: left;
}
.header-list{
    float: left;
    width: 1100px;
    height: 88px;
    font-size: 16px;
    margin: 0;
    padding: 12px 0 0 30px;
}
.nav-item{
    float: left;
}
.list-link{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.list-link:hover{
    color: rgb(255,103,0);
}
.left-list{
    position: relative;
    width: 127px;
    height: 88px;
    padding-right:15px;
    float: left;
}
.left-menu{
    position: absolute;
    height: 460px;
    width: 234px;
    top: 90px;
    left: -85px;
    background-color: rgb(194, 159, 159);
    z-index: 1000;
}
.left-menu-list{
    position: relative;
    height: 420px;
    color: #ffff;
    padding: 20px 0;
    background-color: rgba(105,101,101,.6);
}
.left-product-menu{
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 30px;
    z-index: 9900;
}
.left-product-menu:hover{
    background-color: rgb(255,103,0);
}
.left-menu-list .left-product-menu:nth-child(1):hover>.right-nav{
    display: block;
}
.left-menu-list .left-product-menu:nth-child(2):hover>.right-nav{
    display: block;
    top: 0;
}
.left-menu-list .left-product-menu:nth-child(3):hover>.right-nav{
    display: block;
    width: 795px;
}
.left-menu-list .left-product-menu:nth-child(4):hover>.right-nav{
    display: block;  
}
.left-menu-list .left-product-menu:nth-child(5):hover>.right-nav{
    display: block;
}
.left-menu-list .left-product-menu:nth-child(6):hover>.right-nav{
    display: block;
}
.left-menu-list .left-product-menu:nth-child(7):hover>.right-nav{
    display: block;
    width: 665px;
}
.left-menu-list .left-product-menu:nth-child(8):hover>.right-nav{
    display: block;
}
.left-menu-list .left-product-menu:nth-child(9):hover>.right-nav{
    display: block;
}
.left-menu-list .left-product-menu:nth-child(10):hover>.right-nav{
    display: block;
}
.left-product-menu .right-nav{
    position: absolute;
    width: 992px;
    left: 234px;
    top: 0;
    background-color: #fff;
    border: 1px solid rgb(224,224,224);
    box-shadow: 0 1px 5px grey ;
    display: none;
}
.right-list{
    float: left;
    width: 248px;
}
.phone{
    float: left;
    height: 76px;
    width: 265px;
}
.col1{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    font-size: 0;
}
.col1>img{
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}
.phone> .col1 > em{
    float: left;
    line-height: 47px;
    color:rgb(51,51,51);
    font-size:14px;
}
.col2{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    font-size: 0;
}
.col2>img{
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}
.phone> .col2 > em{
    float: left;
    line-height: 47px;
    color:rgb(51,51,51);
    font-size:14px;
}
.col3{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    font-size: 0;
}
.col3>img{
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}
.phone> .col3 > em{
    float: left;
    line-height: 47px;
    color:rgb(51,51,51);
    font-size:14px;
}
.col4{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    font-size: 0;
}
.col4>img{
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}
.phone> .col4 > em{
    float: left;
    line-height: 47px;
    color:rgb(51,51,51);
    font-size:14px;
}
.left-product-menu a{
    color: inherit;
    font-size: 14px;
}
.left-product-menu .iconfont{
    position: absolute;
    right: 25px;
    font-size: 16px;
}
.product-nav{
    position: absolute;
    width: 100%;
    height:1px;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    transition:.3s; 
    z-index: 8888;
    border-top: 1px rgb(255,255,255) solid ;
}
.header-bg:hover .product-nav{
    height: 230px;
    border-top: 1px rgb(224,224,224) solid ;
    box-shadow: 0 6px 5px -5px rgb(218,218,218);
}
.xiaomi:hover .sort{
    z-index: 999999;
}
.tv:hover .sort{
    z-index: 999999;
}
.loptop:hover .sort{
    z-index: 999999;
}
.jiadian:hover .sort{
    z-index: 999999;
}
.redmi:hover .sort{
    z-index: 999999;
}
.router:hover .sort{
    z-index: 999999;
}
.Intelligent-hardware:hover .sort{
    z-index: 999999;
}
.xiaomi:hover .product-list{
    height: 230px;
}
.redmi:hover .product-list{
    height: 230px;
    z-index: 100;
}
.product{
    float: left;
    width: 200px;
    height: 180px;
    font-size: 12px;
    text-align: center;
    margin-top: 35px;
}
.product img{
    width: 160px;
    height: 110px;
    margin-bottom: 15px;
}
.product-name{
    color: rgb(51,51,51);
}
.product-price{
    color: rgb(255,103,0);
    line-height: 20px;
}
.header-search{
    width: 296px;
    float: right;
    margin-top: 25px;
    height: 50px;
}
.search-form{
    position: relative;
}
.search-form:hover{
    border-color: rgb(176,176,176);
}
#search{
    position: absolute;
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    display: block;
}
#search-botton{
    position: absolute;
    display: block;
    left: 244px;
    width:50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
}
#search-botton:hover{
    background-color:rgb(255,103,0);
}
#search-botton:hover+.icon-sousuo{
    color: #fff;
}
#search-form:hover input:nth-child(1){
    border-color: rgb(176,176,176);
}
#search:hover{
    border-color: rgb(176,176,176);
}
#search#search#search:focus{
    outline: none;
    border-color:rgb(255,103,0);
}
#search:hover+#search-botton{
    border-color: rgb(176,176,176);
}

#search:focus+#search-botton{
    border-color:rgb(255,103,0);
}

#search:focus+*+*+.down-box{
    display: block;
}
.icon-sousuo{
    position: absolute;
    right: 17px;
    top: 13px;
}
.down-box{
    position: absolute;
    top: 49px;
    display: none;
    z-index: 99999;
}
.down-box-list{
    height: 300px;
    width: 243px;
    border: 1px solid rgb(255,103,0);
    background-color: #fff;
}
.down-box-list li{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 243px;
    box-sizing: border-box;
    padding-left: 20px;
}
.down-box-list li:hover{
    background-color:#fafafa;
}
.down-box-list li a{
    font-size: 12px;
    color:#424242
}
.banner{
    width: 100%;
}
.banner-picture{
    position: relative;
}
.banner-picture img{
    position: absolute;
    width: 1226px;
    height: 460px;
    left: 0;
    opacity:0;
    z-index: -1;
}
.banner-button{
    height: 460px;
}
.banner-button input{
    display: none;
}
.l1,.l2,.l3,.l4,.l5{
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    bottom: 20px;
    border-radius: 50%;
    border: 2px #ffffff solid;
    border-color: hsla(0,0%,100%,.3);
    background-color: rgba(0,0,0,.4);
}
.l1{
    right: 110px;  
}
.l2{
    right: 92px;
}
.l3{
    right:74px ;
}
.l4{
    right: 56px;
}
.l5{
    right: 38px;
}
.l1:hover{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.l2:hover{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.l3:hover{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.l4:hover{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.l5:hover{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.banner-button>input:nth-child(1):checked+*{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.banner-button>input:nth-child(3):checked+*{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.banner-button>input:nth-child(5):checked+*{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.banner-button>input:nth-child(7):checked+*{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.banner-button>input:nth-child(9):checked+*{
    border-color: rgba(0,0,0,.4);
    background-color: hsla(0,0%,100%,.4);
}
.banner-button>input:nth-child(1):checked~a:nth-child(21)>img{
    opacity: 1;
}
.banner-button>input:nth-child(3):checked~a:nth-child(22)>img{
    opacity: 1;
}
.banner-button>input:nth-child(5):checked~a:nth-child(23)>img{
    opacity: 1;
}
.banner-button>input:nth-child(7):checked~a:nth-child(24)>img{
    opacity: 1;
}
.banner-button>input:nth-child(9):checked~a:nth-child(25)>img{
    opacity: 1;
}
.button-prev{
    display: none;
    position: absolute;
    top: 50%;
    left: 234px;
    margin-top: -35px;
    width: 41px;
    height: 69px;
    background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -83px 0 no-repeat;
}
.button-next{
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -35px;
    width: 41px;
    height: 69px;
    background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -124px 0 no-repeat;
}
.button-prev:hover{
    background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) 0 0;
}
.button-next:hover{
    background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -41px 0;
}
.banner-button>input:nth-child(1):checked~label:nth-child(12),.banner-button>input:nth-child(1):checked~label:nth-child(20){
    display: block;
}
.banner-button>input:nth-child(3):checked~label:nth-child(13),
.banner-button>input:nth-child(3):checked~label:nth-child(16){
    display: block;
}
.banner-button>input:nth-child(5):checked~label:nth-child(14),
.banner-button>input:nth-child(5):checked~label:nth-child(17){
    display: block;
}

.banner-button>input:nth-child(7):checked~label:nth-child(18),
.banner-button>input:nth-child(7):checked~label:nth-child(15){
    display: block;
}
.banner-button>input:nth-child(9):checked~label:nth-child(19),
.banner-button>input:nth-child(9):checked~label:nth-child(11){
    display: block;
}
.banner-bottom{
    margin-top: 14px;
    overflow: hidden;
}
.miaosha{
    width: 234px;
    height:170px ;
    float: left;
    background-color: rgb(95,87,80);
}
.miaosha li{
    display: inline-block;
    float: left;
    width: 70px;
    height:82px ;
    font-size: 12px;
    padding: 0 3px;
}
.miaosha li a{
    position: relative;
    display: block;
    margin-top: 18px;
    height: 64px;
    width: 70px;
    text-align: center;
    color: #ffff;
    opacity:.7;
    transition: .3s;
}
.miaosha li a:hover{
    opacity:1;
}
.miaosha li a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 70px;
    left: 0;
    top: -6px;
    background-color: rgb(102,94,87);
    border-color: rgb(102,94,87);
    z-index: 2;
}
.miaosha li a::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 64px;
    left: 6px;
    top: -13px;
    background-color: rgb(102,94,87);
}
.miaosha li a img{
    display: block;
    width:24px;
    height: 24px;
    margin: 0 auto 4px;
}
.small-banner a{
    display: block;
    float: left;
    margin-left: 14px;
}
.small-banner a img{
    width: 316px;
    height: 170px;
}
main{
    background-color: rgb(245,245,245);
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
}
.shangou-box{
    width: 1226px;
    height: 58px;
}
h2{
    display: inline-block;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.countdown{
    float: left;
    width: 234px;
    height: 340px;
    margin-right: 14px;
    background-color:rgb(241,237,237);
    text-align: center;
    border-top:1px solid rgb(229,57,53);
}
.time{
    display:inline-block;
    margin-top: 55px;
    color:rgb(239,58,59);
    font-size: 21px;
}
.countdown i{
    display: block;
    margin: 30px auto;
    font-size: 25px;
    color: rgb(229,57,52);
    text-align: center;
}
.countdown .over{
    display: inline-block;
    color: rgba(0,0,0,.54);
}
.timing span{
    display: inline-block;
    width: 46px;
    height: 46px;
    color: #ffff;
    background-color: rgb(96,87,81);
    text-align: center;
    line-height:46px;
    font-size: 24px;
}
.timing{
    margin-top: 28px;
    font-size: 28px;
}
.carousel-box{
    display: inline-block;
}
.shangou-product{
    width: 978px;
    float: left;
}
.carousel{
    position: relative; 
}
.carousel-list-box{
    position: relative;
    height: 340px;
    overflow: hidden;
}
.carousel-list-box ul{
    white-space: nowrap;
    font-size: 0;
    transition: .5s;
 }
.carousel-list{
    display: inline-block;
    width: 234px;
    height: 340px;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 14px;
    border-top:1px solid rgb(229,57,53)
}
.carousel-link{
    display: block;
    height: 260px;
    padding: 40px 37px;
    text-align: center;
    font-size: 12px;
}
.carousel-img{
    width: 160px;
    height: 160px;
}
.product-title{
   font-size: 14px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   color: #212121;
   margin-top: 22px;
}
.miaoshu{
    height: 18px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #b0b0b0;
}
.xianjia{
    color: #ff6709;
}
 .yuanjia{
    color: #b0b0b0;
    text-decoration: line-through;
}
.carousel label{
    color: #b0b0b0;
}
.botton-left{
    position: absolute;
    top: -32px;
    right: 35px;
    width: 36px;
    height: 24px;
    padding: 0px 5px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    color:inherit;
    text-align: center;
    z-index: 88;
}
.botton-right{
    position: absolute;
    top: -32px;
    right: 0;
    width: 36px;
    height: 24px;
    box-sizing: border-box;
    padding: 0px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    color:inherit;
    text-align: center;
    z-index: 88;
}
.carousel label{
    display: none;
}
.carousel label:nth-child(5){
    display: block;
}
.carousel input:nth-child(1):checked~.carousel-list-box ul{
    margin-left: 0px;
}
.carousel input:nth-child(1):checked ~ label:nth-child(8),
.carousel input:nth-child(1):checked ~ label:nth-child(9){
    display: block;
}
.carousel input:nth-child(2):checked~.carousel-list-box ul{
    margin-left: -992px;
}
.carousel input:nth-child(2):checked ~ label:nth-child(10),
.carousel input:nth-child(2):checked ~ label:nth-child(8){
    display: block;
}
.carousel input:nth-child(3):checked~.carousel-list-box ul{
    margin-left: -1984px;
}
.carousel input:nth-child(3):checked ~ label:nth-child(11),
.carousel input:nth-child(3):checked ~ label:nth-child(16){
    display: block;
}
.carousel input:nth-child(4):checked~.carousel-list-box ul{
    margin-left: -2976px;
}
.carousel input:nth-child(4):checked ~ label:nth-child(12),
.carousel input:nth-child(4):checked ~ label:nth-child(17){
    display: block;
}
.carousel input:nth-child(5):checked~.carousel-list-box ul{
    margin-left: -3968px;
}
.carousel input:nth-child(5):checked ~ label:nth-child(13),
.carousel input:nth-child(5):checked ~ label:nth-child(18){
    display: block;
}
.carousel input:nth-child(6):checked~.carousel-list-box ul{
    margin-left: -4464px;
}
.carousel input:nth-child(6):checked ~ label:nth-child(14),
.carousel input:nth-child(6):checked ~ label:nth-child(19){
    display: block;
}
.carousel label:not(:nth-child(16)):hover{
    color: #ff6709;
}
.ads-img img{
    margin-top:35px;
    width: 1226px;
    height: 120px;
}
.shouji-list-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 614px;
    justify-content:space-between;
    align-content: space-between;
}
.shouji-list{
    height: 300px;
    width: 234px;
    box-sizing: border-box;
    background-color: #fff;
}
.shouji-list-left img{
    width: 234px;
}
.price{
    color: #ff6700;
}
.view{
    display: inline-block;
    float: right;
    margin:auto ;
    color: #424242;
    font-size: 16px;
    position: relative;
    top: 16px;
    transition: .5s;
}
.view:hover{
    color:#ff6700 ;
}
.move{
    transition: .3s;
}
.move:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.all-price{
    font-size: 12px;
    color:#ff6700 ;
    margin-left:33px;
}
.appliances{
    position: relative;
    width: 1226px;
}
.appliances-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1226px;
    height: 614px;
    justify-content:space-between;
}
.left-img{
    height: 300px;
    width: 234px;
}
.appliances-left-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: space-between;
    font-size: 0;
    height: 614px;
}
.appliances-hot-sale{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 978px;
    height: 614px;
    justify-content:space-between;
    align-content: space-between;
}
.appliances-right-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 978px;
    height: 614px;
    justify-content:space-between;
    align-content: space-between;
}
.piece{
    width: 234px;
    height: 300px;
    box-sizing: border-box;
    background-color: #fff;
}
.piece-link{
    display: block;
    text-align: center;
   
}
.title{
    margin: 0 10px 2px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.description{
    font-size: 12px;
    color: #b0b0b0;
    height: 18px;
    margin: 0 10px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.little-img{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 20px;
    top: 34px;
}
.little-list{
    position: relative;
    width: 234px;
    height: 143px;
    background-color: #fff;
}
.little-link{
    display: block;
}
.little-link .title{
    margin: 44px 110px 5px 30px;
    white-space: normal;
}

.little-list .icon-jiantou{
    font-size: 48px;
    position: absolute;
    top: 20px;
    right: 40px;
    color:#ff6700 ;
}
.more p{
    font-size: 18px;
    margin: 45px 110px 0 30px
}
.more span{
    font-size: 12px;
    margin: 45px 110px 0 30px;
    color:#757575;
}
.appliances-right-list{display: none;}

.appliances > span:nth-child(2){
    position: absolute;
    display: inline-block;
    right: 95px;
    top: 18px;
    font-size: 16px;
    color:#ff6700;
    border-bottom: 2px solid#ff6700;
} 
.appliances > span:nth-child(3){
    position: absolute;
    display: inline-block;
    right: 0;
    top: 18px;
    font-size: 16px;
} 
.appliances > span:nth-child(2):hover~div .appliances-hot-sale{
    display: flex;
}
.appliances > span:nth-child(2):hover~div .appliances-right-list{
    display: none;
}
.appliances > span:nth-child(2):hover{
    color:#ff6700;
    border-bottom: 2px solid#ff6700;
}
.appliances > span:nth-child(2):hover+span{
    color:#424242;
    border-bottom: none;
}
.appliances > span:nth-child(3):hover~div .appliances-right-list{
    display: flex;
}
.appliances > span:nth-child(3):hover~div .appliances-hot-sale{
    display: none;
}
.appliances > span:nth-child(3):hover{
    color:#ff6700;
    border-bottom: 2px solid#ff6700;
}
.appliances:hover :nth-child(2){
    color:#424242;
    border-bottom: none;
}
.intelligent > span:nth-child(2){
    right: 123px;
}
.intelligent > span:nth-child(3){
    right: 60px;
}
.intelligent > span:nth-child(4){
    position: absolute;
    display: inline-block;
    right: 0;
    top: 18px;
    font-size: 16px;
}
.intelligent > span:nth-child(4):hover{
    color:#ff6700;
    border-bottom: 2px solid#ff6700;
}
.peijian > span:nth-child(2){
    right:157px;
}
.peijian > span:nth-child(3){
    right: 80px;
}
.peijian > span:nth-child(4){
    position: absolute;
    display: inline-block;
    right: 0;
    top: 18px;
    font-size: 16px;
}
.peijian > span:nth-child(4):hover{
    color:#ff6700;
    border-bottom: 2px solid#ff6700;
}
.zhoubian > span:nth-child(2){
    right: 60px;
}
.video{
    margin-bottom: 30px;
}
.video-img{
    position: relative;
}
.video-img:hover .video-logo nav:nth-child(1){
    border-color: #ff6700;
    background-color: #ff6700;
}
.video-img  img{
    width: 296px;
    height: 180px;
}
.video-logo > nav:nth-child(1){
    position: absolute;
    width: 35px;
    height: 24px;
    border-radius:15px;
    box-sizing: border-box;
    top: 145px;
    left: 20px;
    border:2px solid #fff;
}
.video-logo > nav:nth-child(2){
    position: absolute;
    width:0px;
    height:0px;
    border:8px solid #ffffff;
    top: 148px;
    left:35px;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color:transparent;
}
.video-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1226px;
    height: 299px;
}
.video-item{
    width: 296px;
    height: 285px; 
    text-align: center;
    background-color: #fff;
}
.video-item p{
    margin: 30px 14px 6px;
    font-size: 14px;
    font-weight: 400;
    color:#333 ;
}
.service-list{
    display: inline-block;
    padding: 27px 0;
    border-bottom: 1px solid#e0e0e0;
}
.service{
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    float: left;
    width:240px;
    height: 25px;
    border-left: 1px solid #e0e0e0;
}
.service:hover{
    color:#ff6700 ;
}
.footer-links{
    padding: 40px 0;
    overflow: hidden;
}
.footer-links dl{
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
.footer-links dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer-links dd{
    margin: 10px 0 0;
    font-size: 12px;
    color: #757575;
}
.footer-links dd:hover{
    color:#ff6700 
}
.content{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.content p{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.content span{
    margin: 0 0 16px;
    font-size: 12px;
}
.content nav{
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 21px;
    border:1px solid#ff6700;
    background:#fff;
    color:#ff6700;
}
.content nav:hover{
    background-color: #ff6700;
    color: #ffffff;
}
.site-info{
    clear: both;
    padding: 30px 0;
    font-size: 12px;
    background:#fafafa;
}
.site-info .container{
    position: relative;
}
.mi-logo{
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(https://s02.mifile.cn/assets/static/image/logo-footer.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
.mi-info-text{
    color:#b0b0b0;
    padding-left: 67px;
}
.sites{
    color: #b0b0b0;
    font-size: 12px;
}
.mi-info-text a:hover{
    color: #ff6700;
}
.info-links{
    height: 28px;
    margin: 4px 0 0;
    padding-left: 67px;
}
.info-links img{
    width: auto;
    height: 28px;
    margin-left: 0;
    margin-bottom: 15px;
}
.slogan{
    clear: both;
margin: 30px auto 0;
width: 267px;
height: 19px;
background: url(https://s02.mifile.cn/assets/static/image/slogan2016.png) no-repeat center 0;
}
.side{
    position:fixed;
    bottom: 630px;
    right: 0;
    width: 105px;
    height: 175px;
}
.side li{
    width: 85px;
    height: 90px;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    color: #757575;
    font-size: 14px;
    transition: .3s;
}
.side li a{
    display: block;
    margin: auto;
}
.side li a i{
    font-size: 30px;
}
.side li:hover{
    color:#ff6700 ;
}
.side ul li:nth-child(1){
    position: relative;
}
.side-qr{
    position: absolute;
    width: 130px;
    height: 193px;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    top: 0;
    left: -144px;
    visibility:hidden;
    margin: 14px auto 0;
    color:#757575;
    transition: 1s;
}
.side-qr img{
    margin-top: 20px;
    width: 100px;   
    height: 100px;
}
.side ul li:nth-child(1):hover .side-qr{
    visibility:visible;
}
.side-qr:hover{
    visibility:visible;
    transition:none;
}